{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="container-fluid" style="height: 10vh;">
        </div>
       
        <div class="container my-4 p-4 border" id="divContMeasures">
            <div class="row">
                <div class="col-8 text-center">
                    <h2>Select the number of bars of the output</h2>
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn btn-dark btn-lg dropdown-toggle" type="button" id="dropdownBarsButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
                            Number of bars
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownBarsButton">
                            <a class="dropdown-item" href="#" id="measures8-dropdown" style="width: 200px;">08 bars</a>
                            <a class="dropdown-item" href="#" id="measures16-dropdown" style="width: 200px;">16 bars</a>
                            <a class="dropdown-item" href="#" id="measures32-dropdown" style="width: 200px;">32 bars</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4 hrconst" />
            <div class="row mt-4" id="durAndPitchRow">
                <div id="carouselConstraints" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active" id="consCarItem">
                            <div class="container-fluid">
                                <div class="row text-center my-4">
                                    <h2>Consecutive measures</h2>
                                </div>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5 border">
                                        <div class="row text-center mb-2">
                                            <h4>Pitch</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-1 mb-2"></div>
                                            <div class="col-10 mb-2 text-center">
                                                <form>
                                                    <div class="form-group">
                                                        <select class="form-select" id="idConstraintPitchContGroup" onchange="pitchConstraintChange()">
                                                            <option value="pitchNoConst">No constraint</option>
                                                            <option value="pitchAllSame">All the same</option>
                                                            <option value="pitchAllDiff">All different</option>
                                                            <option value="pitchIncrease">Increasing</option>
                                                            <option value="pitchDecrease">Decreasing</option>
                                                            <option value="pitchOnsetKeyFixed">Pitch on Keys - fix the keys</option>
                                                            <option value="pitchAllSameFixed">All the same - fix the pitch</option>
                                                            <option value="pitchTokenSingle">Fix a pitch for a pointed token</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-1 mb-2"></div>
                                        </div>
                                        <div class="col-10 mb-2 text-center">
                                            <input style="width: 40%; display: none;" type="text" name="pitchFix" id="pitchFix" placeholder="Fix value">
                                            <input style="width: 40%; display: none;" type="text" name="tokenIdx" id="tokenIdx" placeholder="Token Index">
                                            <input style="width: 40%; display: none;" type="text" name="pitchChosen" id="pitchChosen" placeholder="pitch(C) mod 12 = 0">
                                        </div>
                                    </div>
                                    <div class="col-5 border">
                                        <div class="row text-center mb-2">
                                            <h4>Duration</h4>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-1 mb-2"></div>
                                            <div class="col-10 mb-2 text-center">
                                                <form>
                                                    <div class="form-group">
                                                        <select class="form-select" id="idConstraintDurationContGroup">
                                                            <option value="durationNoConst">No constraint</option>
                                                            <option value="durationAllSame">All the same</option>
                                                            <option value="durationAllDiff">All different</option>
                                                            <option value="durationSpeedUp">Speeding up</option>
                                                            <option value="durationSlowDown">Slowing down</option>
                                                            <option value="durationAllSameFixed">All the same - fix the duration</option>
                                                            <option value="maximumSilenceFixed"> Maximum Silence - fix the percentage</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-1 mb-2"></div>
                                        </div>
                                        <input style="width: 40%" type="text" name="durationFix" id="durationFix">
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <div class="row my-2" style="height: 5vh;">   
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" id="sepCarItem">
                            <div class="container-fluid">
                                <div class="row text-center my-4">
                                    <h2>Separate measures</h2>
                                </div>
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5 border">
                                        <div class="row text-center mb-2">
                                            <h4>Pitch</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-1 mb-2"></div>
                                            <div class="col-10 mb-2 text-center">
                                                <form>
                                                    <div class="form-group">
                                                        <select class="form-select" id="idConstraintPitchSepGroup">
                                                            <option value="pitchNoConstSep">No constraint</option>
                                                            <option value="Sep-pitchSame">Same notes</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-1 mb-2"></div>
                                        </div>
                                    </div>
                                    <div class="col-5 border">
                                        <div class="row text-center mb-2">
                                            <h4>Duration</h4>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-1 mb-2"></div>
                                            <div class="col-10 mb-2 text-center">
                                                <form>
                                                    <div class="form-group">
                                                        <select class="form-select" id="idConstraintDurationSepGroup">
                                                            <option value="durationNoConst">No constraint</option>
                                                            <option value="Sep-durationSameStructure">Same duration structure</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-1 mb-2"></div>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <div class="row my-2" style="height: 5vh;"> 
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <div class="form-check form-switch my-2">
                                            <input class="form-check-input" type="checkbox" id="idInitialSepMeas">
                                            <label class="form-check-label" for="idInitialSepMeas"><h6>Select initial separated measure</h6></label>
                                          </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselConstraints" role="button" data-bs-slide="prev" id="carouselPrev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>                      
                    </a>
                    <a class="carousel-control-next" href="#carouselConstraints" role="button" data-bs-slide="next" id="carouselNext">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>                       
                    </a>

                    
                    
                    
                </div>
            </div>
            <div class="row mt-4 text-center disabled-general" id="saveDurAndPitchRow">
                <div class="col-4"></div>
                <div class="col-4">
                    <button type="button" class="btn btn-lg btn-dark">
                        Save
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <style>
            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <div class="image-container">
            <img src="{{midi_image}}" width="50%">
        </div>
        <div class="container-fluid" style="height: 10vh;">
        </div>
        <div class="container my-4 p-4 border disabled-general" id="musicscore">
            <div class="row measure8 mb-4">
                <div class="col-2"></div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-bottom border-dark border-2"
                        style="height: 12px;">
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row measure16 mb-4">
                <div class="col-2"></div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-bottom border-dark border-2"
                        style="height: 12px;">
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row measure32 mb-4">
                <div class="col-2"></div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-bottom border-dark border-2"
                        style="height: 12px;">
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row measure32">
                <div class="col-2"></div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-bottom border-dark border-2" style="height: 12px;">
                    </div>
                </div>
                <div class="col-1 meas-backg">
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-dark border-2" style="height: 10px;">
                    </div>
                    <div class="row border-top border-start border-end border-bottom border-dark border-2"
                        style="height: 12px;">
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

        <div class="container my-4 p-4 border" id="displayconstraints">
            <div class="block-half-vertical mt-4 text-center" id="constraintsDisplay">
              <div class="half-block centered">
                <h3>Pitch Constraints</h3>
                <ul id="pitch-constraints" style="list-style-type: none;" ></ul>
              </div>
              <div class="half-block centered">
                <h3>Duration Constraints</h3>
                <ul id="dur-constraints" style="list-style-type: none;"> </ul>
              </div>
            </div>

            <style>
              .block-half-vertical {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }
              .half-block {
                width: 48%;
              }

            </style>
        </div>
        <form action="{{url_for('parametersSelector')}}" method="POST">
            <input type="hidden" name="durConstraintString" id="durConstraintString">
            <input type="hidden" name="pitchConstraintString" id="pitchConstraintString">
        <div class="row mt-4 text-center" style="height: 80px;" id="nextPageButton">
                <div class="col-4"></div>
                <div class="col-4">
                    <!-- <button type="button" class="btn btn-lg btn-dark" onclick="document.location.href='{{url_for('parametersSelector')}}';">
                        Continue
                    </button> -->
                    <input type="submit" class="btn btn-outline-dark btn-lg" value="Continue">
                </div>
                <div class="col-4"></div>
        </div>
        </form>
        <!--User Status Form-->
        {% include 'user_status.html' %}
        <!---->
        <!--Overlay-->
        <div class="overlayPopUp" style="position: fixed;"></div>
        <!---->
    </main>
    <footer class="text-center text-white border-top" style="background-color: #5f99c5; ">
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center">
                <div class="col-4"></div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #3b5998;"
                        href="https://www.facebook.com/polymtl" target="_blank" role="button"><i
                            class="fa fa-facebook-f fa-lg"></i>
                    </a>
                </div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #333333;"
                        href="https://www.youtube.com/@polymtlvideos" target="_blank" role="button"><i
                            class="fa fa-youtube fa-lg"></i>
                    </a>
                </div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #dd4b39;"
                        href="https://www.polymtl.ca/" target="_blank" role="button"><i class="fa fa-google fa-lg"></i>
                    </a>
                    </button>
                </div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #55acee;"
                        href="https://twitter.com/polymtl" target="_blank" role="button"><i
                            class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="text-center text-white p-3" style="background-color: #1A6DAC">
                    © 2022 Copyright:
                    <a class="text-white" href="https://www.polymtl.ca/" target="_blank">Polytechnique Montréal</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/constraintSelector.js"></script>
    <script type="text/javascript" src="static/js/config.js"></script>

{% endblock %}
